.main-container {
  max-width: 1460px;
  margin: 20px auto;
  padding: 0 20px;

  .selection-container {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
    padding: 20px;
  }

  .graph-container {
    text-align: center;
  }
}
